/* ========================== Component Name ========================== */
$component: .hero15;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  
  &__wrap {
    @apply flex justify-center items-center relative w-full mx-auto py-24 px-12 max-w-screen-xxl text-wire-dark bg-wire-light;
  }

  &__title {

  }

  &__down {
    position: absolute;
    bottom: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {
    &__wrap {
      min-height: 70vh;
    }
  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {
    &__wrap {
      min-height: 50vh;
    }
  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
